In [1]:
import pandas as pd
import requests
from pprint import pprint
import scipy.stats as st
import matplotlib.pyplot as plt
from scipy.stats import linregress

In [7]:
# Read in Mpls bike share data
m_df1 = pd.read_csv("originalcsvs/201904-niceride-tripdata.csv")
m_df1["Month"] = "April"
m_df2 = pd.read_csv("originalcsvs/201905-niceride-tripdata.csv")
m_df2["Month"] = "May"
m_df3 = pd.read_csv("originalcsvs/2001906-niceride-tripdata.csv")
m_df3["Month"] = "June"
m_df4 = pd.read_csv("originalcsvs/201907-niceride-tripdata.csv")
m_df4["Month"] = "July"
m_df5 = pd.read_csv("originalcsvs/201908-niceride-tripdata.csv")
m_df5["Month"] = "August"
m_df6 = pd.read_csv("originalcsvs/201909-niceride-tripdata.csv")
m_df6["Month"] = "September"
m_df7 = pd.read_csv("originalcsvs/201910-niceride-tripdata.csv")
m_df7["Month"] = "October"
m_df8 = pd.read_csv("originalcsvs/201911-niceride-tripdata.csv")
m_df8["Month"] = "November"

In [9]:
# append all mpls data and export to csv
m_df = pd.DataFrame()
m_df = m_df1.append(m_df2).append(m_df3).append(m_df4).append(m_df5).append(m_df6).append(m_df7).append(m_df8)
# m_df.to_csv('../data/NiceRide_2019.csv')
m_df.tail(100)

,tripduration,start_time,end_time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,bike type,Month
9091,327,2019-11-26 19:40:50.1730,2019-11-26 19:46:18.0830,NaN,NaN,44.98,-93.28,NaN,NaN,44.99,-93.27,2393,Subscriber,1986,2,Dockless,November
9092,365,2019-11-26 19:53:01.0190,2019-11-26 19:59:06.3360,NaN,NaN,44.97,-93.27,NaN,NaN,44.97,-93.28,2099,Subscriber,1960,2,Dockless,November
9093,542,2019-11-26 20:07:08.4570,2019-11-26 20:16:11.1630,NaN,NaN,44.99,-93.27,NaN,NaN,44.99,-93.27,2364,Subscriber,1982,1,Dockless,November
9094,1506,2019-11-26 20:07:26.5300,2019-11-26 20:32:33.2040,NaN,NaN,45.00,-93.26,NaN,NaN,44.98,-93.27,2781,Customer,1967,2,Dockless,November
9095,476,2019-11-26 20:15:04.5970,2019-11-26 20:23:01.3680,NaN,NaN,44.97,-93.28,NaN,NaN,44.96,-93.28,2099,Subscriber,1987,1,Dockless,November
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9186,708,2019-11-30 21:03:17.4660,2019-11-30 21:15:06.2730,NaN,NaN,44.98,-93.26,NaN,NaN,44.98,-93.26,2428,Subscriber,1983,1,Dockless,November
9187,662,2019-11-30 22:00:37.1260,2019-11-30 22:11:39.2070,NaN,NaN,44.95,-93.32,NaN,NaN,44.95,-93.30,2734,Subscriber,1983,1,Dockless,November
9188,658,2019-11-30 22:08:13.2950,2019-11-30 22:19:12.1280,NaN,NaN,44.98,-93.26,NaN,NaN,44.97,-93.26,2626,Subscriber,1980,1,Dockless,November
9189,549,2019-11-30 23:15:00.5280,2019-11-30 23:24:10.2940,NaN,NaN,44.98,-93.23,NaN,NaN,44.98,-93.23,2224,Subscriber,1983,1,Dockless,November
9190,276,2019-11-30 23:39:39.6930,2019-11-30 23:44:16.2290,NaN,NaN,44.98,-93.23,NaN,NaN,44.98,-93.23,2982,Subscriber,1986,1,Dockless,November

In [11]:
m_df.to_csv('../data/NiceRide_2019.csv')

In [14]:
m2017_df = pd.read_csv("originalcsvs/Nice_ride_trip_history_2017_season.csv")
m2017_df.tail(100)

,Start date,Start station,Start station number,End date,End station,End station number,Account type,Total duration (Seconds)
460618,4/3/2017 13:41,Logan Park,30104,4/3/2017 13:59,Target Field Station,30056,Member,1110
460619,4/3/2017 13:34,Lyndale Ave S & W 29th Street,30013,4/3/2017 14:15,2nd Ave N & N 6th Street,30053,Member,2471
460620,4/3/2017 13:32,28th Street & Nicollet Ave. S,30064,4/3/2017 13:42,YWCA Downtown,30006,Member,591
460621,4/3/2017 13:31,2nd Ave S & S 3rd Street,30050,4/3/2017 13:39,2nd Ave N & N 6th Street,30053,Member,508
460622,4/3/2017 13:31,2nd Ave N & N 6th Street,30053,4/3/2017 13:36,10th Street & Nicollet Mall,30039,Member,333
...,...,...,...,...,...,...,...,...
460713,4/3/2017 9:45,Grant Street & Portland Ave,30087,4/3/2017 9:50,Hennepin County Government Center,30029,Member,340
460714,4/3/2017 9:46,Portland Ave & Washington Ave,30090,4/3/2017 9:55,4th Street S & 19th Ave,30027,Member,571
460715,4/3/2017 9:41,2nd Ave S & S 3rd Street,30050,4/3/2017 10:13,Grant Street & Portland Ave,30087,Member,1887
460716,4/3/2017 9:27,Marshall Street NE & 8th Ave NE,30098,4/3/2017 9:36,2nd Ave S & S 3rd Street,30050,Member,532
460717,4/3/2017 9:19,Portland Ave & Washington Ave,30090,4/3/2017 9:25,Currie Park,30037,Member,361